{% extends "base.html" %}

{% block head_title %} Restaurants | {{ block.super }} {% endblock head_title %}


{% block content %}

<h1>Add Restaurant</h1>

{% if form.error.non_field_errors %}

{{ form.error }}

{% endif %}
<form method='POST'> {% csrf_token %}
    
    {{ form.as_p }}
    <button type='Submit'>Saved</button>

</form>

   
{% endblock content %}
    <!-- <input type= 'text' name='name' placeholder="Your title"><br/>
    <input type= 'text' name='location' placeholder="Location"><br/>
    <input type= 'text' name='category' placeholder="Category"><br/> -->